@media screen and (max-height: 600px) {
  .App {
    text-align: center;
    height: 100%;
    background-image: url("./desk-background.jpg");
    background-repeat: repeat-y;
  }
}

@media screen and (min-height: 600px) {
  .App {
    text-align: center;
    height: 100vh;
    background-image: url("./desk-background.jpg");
    background-repeat: repeat-y;
  }
}

.App-padding {
  padding: 10px;
}

.Title-text {
  color: blanchedalmond;
}

.Puzzle-box {
  height: 500px;
  width: 500px;
  margin: 30px auto 0px;
  background-color: #F98264;
  border-radius: 2%;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.2);
}
